@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(https://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext);
@import 'variables';
@import 'mixins';

body{
    font-family: "Dosis", 'Helvetica Neue', sans-serif;
    font-size: 1.00rem;
}

header{
    position: relative;
    background-color: $background-white;
    top: 0px;
    box-shadow: 5px 0px 4px $background-shadow;
}

footer{
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    position: relative;
    background-color: $cric-blue;
    box-shadow: 0px 0px 5px $cric-blue;
}

ul{
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: $cric-blue;
    font-weight: bold;
    margin-bottom: 3vh;

    a {
        color: $cric-blue;

        &:hover {
            color: $cric-blue;
        }
    }
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
}

h3,
h4,
h5,
h6{
    font-size: 1.5rem;
}

img{
    max-width: 100%;
    display: block;
}

.btn-danger,
.btn-primary,
.btn-warning {
    padding: 3px, 5px, 3px, 5px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 5px;

    &:hover {
        opacity: 0.8;
    }

    &:disabled,
    &.disabled {
        opacity: 1;
        cursor: not-allowed;
    }
}

.btn-primary {
    background-color: $cric-blue;
    border-color: $cric-blue;

    &:hover {
        background-color: $cric-dark-blue;
        border-color: $cric-dark-blue;
    }

    &:focus {
        background-color: $cric-dark-blue;
        border-color: $cric-dark-blue;
        box-shadow: 0 0 0 0.2rem $cric-dark-blue;
    }

    &:checked{
    }
    
    &:active,
    &.active {
        background-color: $cric-blue;
        border-color: $cric-blue;
    }

    &:disabled,
    &.disabled {
        background-color: $cric-light-blue;
        border-color: $cric-light-blue;
    }
}

/* Classes Gerais */
.formatacao-conteudo-pagina{
    padding: 5vh 2vw 5vh 2vw;
    min-height: 92vh;
}

.cric-dashboard {
    min-height: 100vh;

    &::nth-child(1) {
        height: 10vh;
    }

    &::nth-child(2) {
        height: 90vh;
    }

    canvas {
        &.crosshair {
            cursor: crosshair;
        }
        
        max-height: calc(90vh - 10px);
        max-width: calc(100% - 10px);
        height: auto;
        width: auto;
        background-repeat: 'no-repeat';
        background-size: contain;
        display: block;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    body{
        font-size: 1.20rem;
    }
}

@media (min-width: 1400px) { 
    body{
        font-size: 1.25rem;
    }
}
