<footer>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <a class="nav-link-footer nav-link navbar-brand"
                        [routerLink]="['/']">
                    <img class="img-responsive logoIndexFooter"
                            src="./assets/img/logo/cric_horizontal_white.png"
                            alt="Logotipo - Center for Recognition and Inspection of Cells">
                </a>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <p class="university"> <a class="nav-link-footer"
                            [href]="linkUFOP"
                            target="_blank"> Federal University of Ouro Preto (UFOP) </a> </p>
                <p class="university"> <a class="nav-link-footer"
                            [href]="linkUFC"
                            target="_blank"> Federal University of Ceará (UFC) </a> </p>
                <p class="university"> <a class="nav-link-footer"
                            [href]="linkUC_BERKELEY"
                            target="_blank"> Berkeley University of California </a> </p>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <p> <a class="nav-link-footer"
                            [routerLink]="['/about']"> About us </a> </p>
                <p> <a class="nav-link-footer"
                            [routerLink]="['/about']"
                            fragment="cite-us"> Cite us </a> </p>
                <p>
                    <a class="nav-link-footer"
                            [routerLink]="['/privacy']">
                        Privacy Policy
                    </a>
                </p>
                <p>
                    <a class="nav-link-footer"
                            [routerLink]="['/terms']">
                        Terms & Conditions
                    </a>
                </p>
                <p> <a class="nav-link-footer"
                            href="mailto:{{contact_us_email}}"> Contact us </a> </p>
            </div>

        </div>

        <div class="row">
            <p>
                CRIC Searchable Image Database is released under
                the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL</a>.
                <a href="https://github.com/CRICDatabase/searchable-image-database">Source code</a> available.
            </p>
            <p>
                Except where otherwise noted,
                content on this site is licensed under
                a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
            </p>
            <p>
                ©2020 Federal University of Ouro Preto (UFOP)
                on behalf of
                the Center for Recognition and Inspection of Cells.
            </p>
        </div>
    </div>
</footer>
