<ngx-json-ld [json]="schema"></ngx-json-ld>

<div class="container">

    <h1>Download</h1>

    <div *ngIf="playground"
            class="alert alert-warning"
            role="alert">
        This is the playground.
        Visit <a href="http://database.cric.com.br"
                class="alert-link">database.cric.com.br</a> for the more data.
    </div>

    <p>
        All images
        and
        data
        are
        licensed under
        a
        <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
    </p>

    <p>
        Remember to cite us
        when using the images or classifications.
    </p>

    <h2>Customize your download</h2>
    <form>
        <div class="form-group row">
            <label for="collection_select"
                    class="col-sm-2 col-form-label">Collection</label>
            <div class="col-sm-10">
                <select id="collection_select"
                        class="custom-select"
                        disabled
                        [(ngModel)]="collection2download"
                        [ngModelOptions]="{standalone: true}">
                    <option></option>
                    <option value="1"
                            selected>Cervix</option>
                </select>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                    type="checkbox"
                    id="images_checkbox"
                    [(ngModel)]="download_images"
                    [ngModelOptions]="{standalone: true}">
            <label class="form-check-label"
                    for="images_checkbox">
                Images
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                    type="checkbox"
                    value=""
                    id="classifications_checkbox"
                    [(ngModel)]="download_classifications"
                    [ngModelOptions]="{standalone: true}">
            <label class="form-check-label"
                    for="classifications_checkbox">
                Classifications
            </label>
        </div>

      <div *ngIf="objetoSessao" class="form-check">
        <input class="form-check-input" type="checkbox" value=""
               id="segmentations_checkbox"
               [(ngModel)]="download_segmentations"
               [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="segmentations_checkbox">
          Segmentations
        </label>
      </div>

        <button id="botao_download"
                type="submit"
                class="btn btn-primary"
                [disabled]="carregando"
                (click)="solicitarDownloadImagens()">
            <span *ngIf="!carregando">
                Start Download
            </span>
            <span *ngIf="carregando">
                Creating zip file
            </span>
            <span *ngIf="carregando"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"></span>
        </button>
    </form>

    <cr-cite-us></cr-cite-us>
</div>
