<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-lignt">

        <a class="nav-link navbar-brand"
                [routerLink]="['']">
            <img class="img-responsive logoIndexHeader"
                    src="./assets/img/logo/cric_horizontal_color.png"
                    alt="Logotipo - CRIC Center for Recognition and Inspection of Cells">
        </a>

        <!-- Botão para esconder e exibir o menu em telas menores -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar_id">
            <span class="navbar-toggler-icon">
            </span>
        </button>

        <div class="col-sm-3 col-md-3 col-lg-8">
            <div class="collapse navbar-collapse estilo-personalizado-menu"
                    id="navbar_id">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                                [routerLink]="['']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                                [routerLink]="['/about']">About</a>
                    </li>
                    <li *ngIf="usuarioAutenticado"
                            class="nav-item">
                        <a class="nav-link"
                                [routerLink]="['/image/upload']">Upload</a>
                    </li>
                    <li *ngIf="usuarioAutenticado"
                            class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                                href="#"
                                id="SegmentationDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Segmentation <span class="beta">Beta</span>
                        </a>
                        <div class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                                    [routerLink]="['/segmentation']">Cervix Collection</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                                href="#"
                                id="ClassificationDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Classification
                        </a>
                        <div class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                                    [routerLink]="['/classification']">Cervix Collection</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                                [routerLink]="['/downloads']">Download</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-2">
            <ul class="navbar-nav">
                <li *ngIf="!usuarioAutenticado"
                        class="nav-item">
                    <a href="#"
                            id="login"
                            data-toggle="modal"
                            data-target="#modal-login"
                            class="nav-link">
                        Login
                    </a>
                </li>
                <li *ngIf="usuarioAutenticado && objetoSessao && !objetoSessao.admin"
                        class="nav-item">
                    <a [routerLink]="['/user']"
                            class="nav-link">Account</a>
                </li>
                <li *ngIf="usuarioAutenticado && objetoSessao && objetoSessao.admin"
                        class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                            href="#"
                            id="AccountDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu"
                            aria-labelledby="AccountDropdown">
                        <a [routerLink]="['/user']"
                                class="dropdown-item">User</a>
                        <a [routerLink]="['/admin']"
                                class="dropdown-item">Admin</a>
                    </div>
                </li>
                <li *ngIf="usuarioAutenticado"
                        class="nav-item">
                    <a href="#"
                            class="nav-link"
                            (click)="fazerLogOut($event)">Leave</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Modal login(Entrar) -->
<cr-login></cr-login>

<!-- Modal sigin(Cadastrar) -->
<div class="modal fade"
        id="modal-cadastro-visitante"
        tabindex="-1"
        role=" dialog">
    <div class="modal-dialog"
            role="document">
        <!-- inserir conteudo do modal -->
        <cr-cadastro-visitante></cr-cadastro-visitante>
    </div>
</div>
