<div class="form-inline">
    <label class="sr-only"
            for="ID-filter">Image slide</label>
    <input type="text"
            class="form-control mb-2 mr-sm-2"
            id="ID-filter"
            [(ngModel)]="filter_slide"
            placeholder="Image slide">

    <label class="sr-only"
            for="DOI-filter">Image DOI</label>
    <input type="text"
            class="form-control mb-2 mr-sm-2"
            id="DOI-filter"
            [(ngModel)]="filter_doi"
            placeholder="Image DOI">

    <label *ngIf="classificationDatabase"
            class="mb-2 mr-sm-2"
            for="classification-filter">Lesion</label>
    <select *ngIf="classificationDatabase"
            class="custom-select mb-2 mr-sm-2"
            id="classification-filter"
            [(ngModel)]="filter_injury">
        <option *ngFor="let lesao of todasLesoes"
                [value]="lesao?.id">
            {{lesao.nome}}
        </option>
    </select>

    <button (click)="filterImages()"
            title="Filter"
            class="btn btn-primary mb-2">
        <svg class="bi bi-funnel-fill"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
            <path d="M2 3.5v-2h12v2l-4.5 5v5l-3 1v-6L2 3.5z" />
            <path fill-rule="evenodd"
                    d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
        </svg>
    </button>

    <button *ngIf="being_filtered"
            (click)="resetFilterImages()"
            title="Remove filter"
            class="btn btn-danger mb-2">
        <svg class="bi bi-x-circle"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
        </svg>
    </button>
</div>

<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<section class="row row-cols-4">
    <div *ngFor="let imagem of paginaDeImagens"
            class="col">
        <div class="card"
                (click)="detalheDeUmaImagem($event, imagem)">

            <div class="card-img-container">
                <img class="card-img-top"
                        [src]="imagem?.caminho_imagem"
                        alt="Image preview">
                <div [attr.title]="imagem?.excluida ? 'Removed image' : (imagem?.classificacao_aprovada ? 'Approved image' : 'Image submited by User')"
                        class="card-img-annotation">
                    <!-- Bootstrap trash icon -->
                    <svg *ngIf="imagem?.excluida"
                            width="1em"
                            height="1em"
                            viewBox="0 0 16 16"
                            class="bi bi-trash"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    <!-- Bootstrap award fill icon -->
                    <svg *ngIf="!imagem?.excluida && imagem?.classificacao_aprovada"
                            class="bi bi-award-fill"
                            width="1.5rem"
                            height="1.5rem"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                    </svg>
                    <!-- Bootstrap person fill icon -->
                    <svg *ngIf="!imagem?.excluida && !imagem?.classificacao_aprovada"
                            class="bi bi-person-fill"
                            width="1.5rem"
                            height="1.5rem"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Slide</dt>
                    <dd>{{imagem?.codigo_lamina}}</dd>

                    <dt>Lesion</dt>
                    <dd>{{imagem?.lesao?.nome}}</dd>

                    <dt *ngIf="classificationDatabase">Classifications</dt>
                    <dd *ngIf="classificationDatabase">{{imagem?.total_classificacoes}}</dd>

                    <dt *ngIf="segmentationDatabase">Segmentations</dt>
                    <dd *ngIf="segmentationDatabase">{{imagem?.total_segmentacoes}}</dd>
                </dl>

                <a href="{{detalheDeUmaImagemURL(imagem)}}"
                        class="btn btn-primary btn-block">More
                    details</a>
            </div>
        </div>

    </div>
</section>

<nav aria-label="Classification navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item"
                [class.disabled]="desabilitarVoltarPagina">
            <a class="page-link"
                    href="#"
                    (click)="paginaAnterior($event)">
                Previous
            </a>
        </li>
        <li class="page-item"
                [class.disabled]="desabilitarAvancarPagina">
            <a class="page-link"
                    href="#"
                    (click)="proximaPagina($event)">
                Next
            </a>
        </li>
    </ul>
</nav>
